{% extends 'accounts/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<section class="container" id="profile">
    <div class=" mt-5 text-center">
        <h3> Hello, {{user.username}}</h3>
        <div class="card-deck mt-5 mx-auto">
            <div class="card  text-center" >
                <div class="card-body">
                <h5 class="card-title">Order Status</h5>
                <p class="card-text {{color}}">{{order_length}}</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
            <div class="card  text-center" >
                <div class="card-body">
                <h5 class="card-title">Ordered This Week</h5>
                <p class="card-text">This card has supporting text below as .</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="mt-3 ">
        <a class="text-left" data-toggle="collapse" href="#collapse1" role="button" aria-expanded="false" aria-controls="collapseExample">
            <h5 class="border-bottom" >Order</h5>
        </a>
        <div class="collapse" id="collapse1" >
            {% for customer in customers.keys %}
                <div class="mt-3 text-center">
                    <a class="text-left" data-toggle="collapse" href="#collapseExample{{ forloop.counter }}" role="button" aria-expanded="false" aria-controls="collapseExample">
                        <h5 class="border-bottom" >{{customer}}</h5>
                    </a>
                    <div class="collapse" id="collapseExample{{ forloop.counter }}" >
                    <div class="parent ">
                        {% for order in customers|get_item:customer %}
                        
                            <button  class=" view overlay box card text-center update-cart">
                                <img src="{{order.image.url}}" class="card-img-top" alt="..."/>  
                                <div class="card-body">
                                    <h5 class="card-title">{{order.name}}</h5>
                                    <p class="card-img">This is a longer card with supporting text below as a natural</p>
                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                </div>
                                <div class="mask flex-center rgba-red-strong">
                                    <p class="white-text"></p>
                                </div>  
                            </button>
                        
                        {% endfor %}
                        </div>
                        <button class="mt-2 mb-3 view overlay btn btn-outline-info update-cart" data-customer="{{customer}}" data-product="{{customers|get_item_id:customer}}" data-action="delete_order">
                            showless
                            <div class="mask flex-center rgba-blue-strong">
                                <p class="white-text"></p>
                            </div>  
                        </button>
                    </div>
    
                </div>
            {% endfor %}
            
        </div>

        <a class="text-left" data-toggle="collapse" href="#collapse2" role="button" aria-expanded="false" aria-controls="collapseExample">
            <h5 class="border-bottom" >Menu</h5>
        </a>
        <div class="collapse" id="collapse2" >
            <div class="parent ">
                {% for menu in menu_list  %}
                    <button data-product="{{menu.id}}" data-action="delete_menu" class=" view overlay box card text-center update-cart">
                        <img src="{{menu.image.url}}" class="card-img-top" alt="..."/>  
                        <div class="card-body">
                            <h5 class="card-title">{{menu.name}}</h5>
                            <p class="card-img">This is a longer card with supporting text below as a natural</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                        <div class="mask flex-center rgba-red-strong">
                            <p class="white-text"></p>
                        </div>  
                    </button>
                {% endfor %}

        

                <button class="view overlay box card text-center addButton" data-toggle="modal" data-target="#exampleModal">
        
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                        <p class="card-img"><i class="fa fa-plus"></i></p>
                        <p class="card-text"><small class="text-muted"></small></p>
                    </div>
                    <div class="mask flex-center rgba-green-strong">
                        <p class="white-text logo"><i class="fa fa-plus"></i></p>
                    </div>
                </button>
                    
            </div>
        </div>
        
    </div>


<!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add food</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form class="w-auto" method="POST">
                    <div class="modal-body">
                        {% csrf_token %}
                        {{menu_form|crispy}}         
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</section>
{% endblock content %}