{% load static %}
{% load extra_auth %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>eNno Bootstrap Template - Index</title>
    <meta content="" name="descriptison" />
    <meta content="" name="keywords" />


    <!-- Favicons -->
    <link href="{% static 'accounts/img/favicon.png' %}" rel="icon">
    <link href="{% static 'accounts/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
      <link href="{% static 'accounts/vendor/icofont/icofont.min.css' %}" rel="stylesheet">

    <link
      href="https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css"
      rel="stylesheet"
    />

    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/venobox/1.9.0/venobox.css"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css"
      rel="stylesheet"
    />

    <!-- Template Main CSS File -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'accounts/css/style.css' %}"
    />

    <!-- =======================================================
  * Template Name: eNno - v2.1.0
  * Template URL: https://bootstrapmade.com/enno-free-simple-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  </head>

  <body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
      <div class="container d-flex align-items-center">
        <h1 class="logo mr-auto"><a href={% url 'home' %}>eNno</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

        <nav class="nav-menu d-none d-lg-block">
          <ul>
            {% if user.is_authenticated %}
              {% if request.user|has_group:"customer" %}
                <li class="active"><a href="{% url 'customer_profile' %}">Profile</a></li>
                <a href={% url 'customer_logout' %} class="get-started-btn scrollto">Logout</a>
              {% else %}
                <li class="active"><a href="{% url 'company_profile' %}">Profile</a></li>
                <a href={% url 'company_logout' %} class="get-started-btn scrollto">Logout</a
              {% endif %}
            {% else %}
              <li class="active"><a href="{% url 'home' %}">Home</a></li>
              <li><a href="{% url 'home' %}#about">About</a></li>
              <li><a href={% url 'customer_register' %}>Sign up</a></li>
              <a href={% url 'customer_login' %} class="get-started-btn scrollto">Login</a>
            {% endif %}
          </ul>
        </nav>
        <!-- .nav-menu -->
       
        <div>
          <a class="text-primary" href={% url 'company_register' %}>Sign up</a>
          <a class="text-primary" href={% url 'company_login' %}>Login</a>
        </div>
      </div>
    </header>
    <!-- End Header -->

    <!--main -->

    {% block content %} {% endblock content %}
    <!--end main -->

    <!-- ======= Footer ======= -->

    <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

    <!-- Vendor JS Files -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="{% static 'accounts/js/validate.js'%}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery.counterup@2.1.0/jquery.counterup.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/venobox/1.9.0/venobox.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>

    <!-- Template Main JS File -->
    <script src="{% static 'accounts/js/main.js'%}"></script>
  </body>
</html>
