{% extends 'accounts/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<section class="container mb-5" id="profile">
    <div class="mt-3 bigParent">
        <h4 class="mt-3 mb-2 border-bottom border-secondary">Menu</h4>

            {% for restaurant in restaurants %}
                <div class=" mt-3 text-center">
                    <a class="text-left" data-toggle="collapse" href="#collapseExample{{ forloop.counter }}" role="button" aria-expanded="false" aria-controls="collapseExample">
                        <h5 class="border-bottom" >{{restaurant.name.company_name}}</h5>
                    </a>
                    <div class="collapse" id="collapseExample{{ forloop.counter }}" >
                        
                        <div class="parent ">
                            {% for menu in restaurant.menu_name  %}
                                
                                <button data-product="{{menu.id}}" data-action="add" class="update-cart box card text-center">
                                    <img src="{{menu.image.url}}" class="card-img-top" alt="..."/>  
                                    <div class="card-body">
                                        <h5 class="card-title">{{menu.name}}</h5>
                                        <p class="card-img">This is a longer card with supporting text below as a natural</p>
                                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                    </div>
                                
                                </button>
                            {% endfor %}
                        </div>
                        
                        <button class="mt-2 mb-3 btn btn-outline-info" data-toggle="collapse" href="#collapseExample{{ forloop.counter }}" role="button" aria-expanded="false" aria-controls="collapseExample">
                            showless
                        </button>
                    </div>

                </div>
            {% endfor %} 
    </div>

</section>
{% endblock %}