{% extends 'accounts/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<section class="container" id="profile">
    <div class=" mt-5">
        <div class="text-center">
        <h3> Hello, {{user.username}}</h3>
        <img class="img-responsive " src="{{user.customer.image.url}}"/>
        </div>
        <div class="card-deck mt-5 mx-auto">
            <div class="card  text-center" >
                <div class="card-body">
                <h5 class="card-title">Order Status</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
            <div class="card  text-center" >
                <div class="card-body">
                <h5 class="card-title">Total Ordered This Week</h5>
                <p class="card-text">This card has supporting text below as .</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-5">
        {% for restaurant in restaurants %}
            <h3> {{restaurant.company_name.upper()}}</h3>
        {% endfor %}
    </div>

</section>
{% endblock content %}