{% extends 'accounts/base.html' %} 
{% load static %}
{% load crispy_forms_tags%} 
{% block content %}
<section id="sign">
    <div class="container parent">
        <form class="" method="POST">
        <h3 class='mb-5'>Sign up</h3>
            {% csrf_token %} 
            {{user_form|crispy}}
            <hr>

            {{customer_form|crispy}}
          <button type='submit' class="btn-get-started scrollto mb-5 border-0">Sign Up</a>
        </form>
    </div>
</section>
<!-- End Hero -->
{% endblock content %}

{% comment %} {% extends 'accounts/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <form class="mx-auto login100-form validate-form" method="POST">
        <span class="login100-form-title">
            Member Sign Up
        </span>
        {% csrf_token %}
        {{user_form|crispy}}
        <hr>
        {{customer_form|crispy}}
        <div class="container-login100-form-btn">
            <button type="submit" class="login100-form-btn">
                Sign Up
            </button>
        </div>

        <div class="text-center p-t-12">
            <span class="txt1">
                Don't have an account?
            </span>
            <a class="txt2" href="#">
               Sign Up
            </a>
        </div>


    </form>
{% endblock content %} {% endcomment %}
